<header class="public-page__header appbar">
  <div class="appbar__section">
    <h1 class="appbar__app-name">Story Book</h1>
  </div>
  <div class="appbar__section">
    <nav class="appbar__nav">
      <a href="/dashboard" class="appbar__link">Dashboard</a>
      <a href="/stories" class="appbar__link appbar__link--active">Public</a>
      <a href="/auth/logout" class="appbar__link appbar__link--right">Logout</a>
    </nav>
  </div>
</header>
<main class="public-page__main main">
  <h3 class="title">List of public stories</h3>
  <div class="story-grid">

    {{#each stories}}
      <!-- Card 1 -->
      <div class="story-card">
        <div class="story-card__section">
          <div class="story-card__avatar-wrapper">
            <img src="{{this.user.image}}" alt="" class="story-card__avatar" />
          </div>
        </div>
        <div class="story-card__section">
          <h3 class="story-card__title">{{this.title}}</h3>
        </div>
        <div class="story-card__section">
          <p class="story-card__body">
            {{this.body}}
          </p>
        </div>
        <div class="story-card__section">
          <div class="btn-group btn-group--right">
            <a href="/stories/{{this._id}}/view" class="btn btn--left">View</a>
            <a
              href="/stories/{{this._id}}/edit"
              class="btn btn--40 btn--bg-white btn--right-margin"
            >
              <img class="btn__icon" src="/images/edit_black_24dp.svg" alt="" />
            </a>
            <a href="#" class="btn btn--40 btn--bg-white">
              <img
                class="btn__icon"
                src="/images/delete_black_24dp.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>

    {{/each}}

  </div>
</main>
<footer class="public-page__footer footer">
  <p class="footer__copyright">Copyright Haroun Ach 2021</p>
</footer>